[Unit]
Description=Blobfuse proxy service

[Service]
ExecStart=/usr/bin/blobfuse-proxy -blobfuse-proxy-endpoint=unix://var/lib/kubelet/blobfuse-proxy.sock

[Install]
WantedBy=multi-user.target
